@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root,
    .light {
        /* Catppuccin Latte (Light) */
        --background: 240 5% 96%;
        /* Base */
        --foreground: 240 4% 16%;
        /* Text */

        --card: 0 0% 100%;
        --card-foreground: 240 4% 16%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 4% 16%;

        --primary: 266 85% 58%;
        /* Mauve */
        --primary-foreground: 360 100% 100%;

        --secondary: 240 5% 84%;
        /* Surface 2 */
        --secondary-foreground: 240 4% 16%;

        --muted: 240 5% 96%;
        /* Surface 0 */
        --muted-foreground: 240 4% 40%;
        /* Subtext 0 */

        --accent: 266 85% 58%;
        /* Mauve */
        --accent-foreground: 360 100% 100%;

        --destructive: 347 87% 60%;
        /* Red */
        --destructive-foreground: 360 100% 100%;

        --border: 240 6% 90%;
        /* Overlay 0 */
        --input: 240 6% 90%;
        --ring: 266 85% 58%;
        /* Mauve */

        --radius: 0.5rem;
    }

    .dark {
        /* Catppuccin Mocha (Dark) */
        --background: 240 21% 12%;
        /* Base */
        --foreground: 226 64% 88%;
        /* Text */

        --card: 240 21% 15%;
        /* Surface 0 */
        --card-foreground: 226 64% 88%;

        --popover: 240 21% 15%;
        /* Surface 0 */
        --popover-foreground: 226 64% 88%;

        --primary: 267 84% 81%;
        /* Mauve */
        --primary-foreground: 240 21% 12%;

        --secondary: 240 19% 26%;
        /* Surface 2 */
        --secondary-foreground: 226 64% 88%;

        --muted: 240 21% 15%;
        /* Surface 0 */
        --muted-foreground: 226 64% 70%;
        /* Subtext 0 */

        --accent: 267 84% 81%;
        /* Mauve */
        --accent-foreground: 240 21% 12%;

        --destructive: 343 81% 75%;
        /* Red */
        --destructive-foreground: 240 21% 12%;

        --border: 240 19% 26%;
        /* Surface 2 */
        --input: 240 19% 26%;
        --ring: 267 84% 81%;
        /* Mauve */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}